---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Skills from '../components/Skills.astro'
import Education from '../components/Education.astro'
import Contact from '../components/Contact.astro'

const lang = 'en' as const
---

<Layout lang={lang}>
  <Navbar lang={lang} />
  <main>
    <Hero lang={lang} />
    <Experience lang={lang} />
    <Projects lang={lang} />
    <Skills lang={lang} />
    <Education lang={lang} />
    <Contact lang={lang} />
  </main>
</Layout>
